.form {
  text-align: center;
  margin-top: 50px;
}

.inputElement {
  width: 100%;
  text-align: center;
}

label {
  font-size: 20px;
  font-family: Consolas;
}

input {
  margin: 10px;
  width: 150px;
  font-size: 18px;
  font-family: Consolas;
}