.form {
  text-align: center;
  margin-top: 50px;
}

.inputElement {
  width: 100%;
  text-align: center;
}

label {
  font-size: 20px;
  font-family: Consolas;
}

input {
  margin: 10px;
  width: 150px;
  font-size: 18px;
  font-family: Consolas;
}

button {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  background-color: #145DA0;
  color: white;
  font-family: Consolas;
}